<section class="lg:flex justify-between w-[100%]">
    <img src="../../../assets/photo-john-chimezie.png" class="m-auto" alt="photo of John Chimezie | full stack Developer" sizes="200 400" srcset="">
    <div class="m-auto text-center">
        <span class="text-sm font-medium ">Hello Wellcome to my page</span>
        <span class="block my-4">My name is:
            <span class="text-2xl font-bold">John</span> -
            <span class="text-secondary text-2xl font-bold">Chimezie</span>
        </span>
        <h1 class="text-[#8f8f8f] text-pretty text-2xl font-extrabold">FULL STACK DEVELOPER -  <span class="text-[#26a269]">FREELANCER,</span></h1>
        <p class="my-4 w-auto sm:max-w-[90%] md:max-w-[80%] lg:max-w-[70%] m-auto sm:text-2xl text-1xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto rem non distinctio culpa sit, ab officiis? Eaque quidem nesciunt non, aperiam voluptatem dolore sequi, in delectus quasi explicabo veniam?

        </p>
        <a href="#" target="_blank" rel="noopener noreferrer" class="text-primaryText py-4 px-20 inline-block my-4 text-lg font-medium bg-gradient-to-b from-[#0774FF] to-[#033AA7] hover:bg-gradient-to-r hover:from-[#0774FF] hover:to-[#033AA7] rounded-full">Learn more</a>
    </div>
</section>
<div>
<section class="relative bg-gradient-to-b from-[#0774FF] to-[#033AA7] text-primaryText py-8 sm:h-[100vh] sm:pt-32 text-center rounded-md">
    <div>
        <h2 class="font-bold text-center leading-tight mb-5 sm:mb-10 sm:text-2xl md:text-4xl lg:text-7xl text-nowrap">
            Web Hosting & WHMCS  <br> HTML Template 
        </h2>
        
    </div>
    <span class="hidden lg:block px-[8%] py-[8%] rounded-full bg-gradient-to-b from-[#0774FF] to-[#033AA7] absolute right-[10%]"></span>
    <span class="hidden lg:block px-[4%] py-[4%] rounded-full bg-gradient-to-b from-[#0774FF] to-[#033AA7] absolute right-[11%]"></span>
    <span class=" px-[6%] py-[6%] rounded-full bg-gradient-to-b from-[#0774FF] to-[#033AA7] absolute  top-[5%] right-[80%]"></span>

    <div class="font-medium text-base m-auto">
        <div class="inline-flex">
            <img src="../../../assets/photo-of-unigue-layout-design.png" alt="">
            <ul class="ml-4">
                <li>Unique Layout
                    <br>
                    design</li>
            </ul>
        </div>
        <div class="inline-flex sm:border-x px-4 mx-4">
            <img src="../../../assets/responsive-design.png" alt="">
            <ul>
                <li class="ml-4">Unique Layout
                    <br>
                    design
                </li>
            </ul>
        </div>
        <div class="inline-flex">
            <img src="../../../assets/support.png" alt="">
            <ul>
                <li class="ml-4">Unique Layout
                    <br>
                    design
                </li>
            </ul>
        </div>
    </div>
    <div class="text-xs sm:text-base my-8 sm:my-16 w-[100%]">
        <a href="#" class="bg-[#ffc107] px-[1%] sm:px-[2%] py-[1%] rounded-md font-bold text-gray-700 hover:bg-gradient-to-r hover:from-[#0774FF] hover:to-[#033AA7]">View Demos</a>
        <a href="#" class="px-[1%] sm:px-[2%] py-[1%] rounded-md font-bold border ml-2 bg-gradient-to-b from-[#0774FF] to-[#033AA7] hover:bg-gradient-to-r hover:from-[#0774FF] hover:to-[#033AA7]">Contact Me</a>
    </div>
    <div class="w-[60%] h-auto sm:w-[70%] -z-0 m-auto relative rounded-md">
        <img src="../../../assets/photo-of-laptop-frame.png"  class="w-[100%] h-[100%]" alt="">
        <div class="absolute top-[6%] left-[12%] w-[75%] h-[85%] ">
            <img src="../assets/image copy.png" width="816px" height="549" class="w-[100%] h-[100%]"  alt="">
        </div>

    </div>

</section>
</div>
<section class="flex flex-wrap mt-[10rem]   lg:mt-[35rem] justify-center  p-4 bg-[#E2EFFF] rounded-md">
    <h3 class=" bg-[#fff]  w-[100%] sm:w-[100%] md:w-2/4 lg:w-[42%] rounded-md p-6 m-4">
        Unleash Online Services
        <br>

    Not Budgets.
    </h3>
    <div class="bg-[#fff] w-[100%] sm:w-[44%] lg:w-[20%] m-4  rounded-md p-6 ">
        <p>
            <img src="../../../assets/sever.png" width="50px" height="40px" alt="">
            <em class="inline-block py-4 font-bold">VPS Hosting</em>
            <br>
            WordPress Hosting gives you speed performance with full of features.
        </p>
         
                <a href="#" class="mt-6 bg-[#ECEFFF] hover:bg-gradient-to-r hover:from-[#0774FF] hover:to-[#033AA7] rounded-full inline-block text-center ">
                    <i class="p-3 fa-solid fa-arrow-right-long"></i>
                </a>

    </div>


</section>
<section class="bg-button-bg text-white lg:h-[90vh] px-[8%]  my-10  w-auto p-10">
    
    <div class="lg:flex lg:justify-around">
        <div>
            <em class="font-mono">Testimonials</em>
            <h4 class="text-5xl font-bold">Featured client stories</h4>
            <p class="mt-5">we're honored and humbled by the great feedback we receive
                from our customers on a daily basis.</p>
        </div>
        <div  class="pt-4">
            <button (click)="scrollLeftButton($event)" type="button" class="border py-2 px-4 rounded-md">❮</button>
            <button (click)="scrollRightButton($event)" type="button" class="border py-2 px-4 rounded-md ml-3">❯</button>
        </div>
    </div>
    <div #scrollContainer  class="flex gap-11 px-5
    
     ">
       
    <div class="my-10 text-center flex-shrink-0 bg-gray-500 p-10 w-[100%] md:min-w-[35vw] md:flex-shrink rounded-md">
        <br>
         <blockquote>
            <span class="overflow-x-auto text-5xl">❝</span>
            <br>
        upiditate amet dolores placeat veniam, sint ut voluptatem nostrum natus sequi? Nulla modi debitis libero incidunt harum quam iste voluptas?
            </blockquote>
            <br>
        <br>
        <div class="font-extrabold text-xl flex justify-center">
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
        </div>
      <br>
     <img src="../assets/image copy.png" width="50px" height="70px" class="rounded-full m-auto"  alt="">

    </div>
    <div class="my-10 text-center flex-shrink-0 bg-gray-500 p-10 w-[100%] md:min-w-[35vw] md:flex-shrink rounded-md">
        <br>
         <blockquote>
            <span class="overflow-x-auto text-5xl">❝</span>
            <br>
        upiditate amet dolores placeat veniam, sint ut voluptatem nostrum natus sequi? Nulla modi debitis libero incidunt harum quam iste voluptas?
            </blockquote>
            <br>
        <br>
        <div class="font-extrabold text-xl flex justify-center">
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
            <i class="mx-1 text-[#FFD700]">٭</i>
        </div>
      <br>
     <img src="../assets/image copy.png" width="50px" height="70px" class="rounded-full m-auto"  alt="">

    </div>
</div>
<div class="flex mt-6 justify-center">
    <div class="bg-gray-300 rounded-md max-w-[5%] p-2 inline-flex gap-1 m-auto">
        <span class="bg-green-500 h-3 w-3 inline-block rounded-full"></span>
        <span class="bg-green-500 h-3 w-3 inline-block rounded-full"></span>
        <span class="bg-green-500 h-3 w-3 inline-block rounded-full"></span>
    </div>
</div>
</section>

<!-- // theme : https://preview.themeforest.net/item/hostie-web-hosting-whmcs-html-template/full_screen_preview/50407236?_ga=2.257484811.1863558834.1715075225-1818223976.1715075225 -->