<section class="lg:flex justify-between">
    <div class="m-auto text-center">
        <span class="text-sm font-medium ">Hello Wellcome to my page</span>
        <span class="block my-4">My name is:
            <br>
            <span class="text-2xl font-bold">John</span> 
            <br>
            <span class="text-primary text-2xl font-bold">Chimezie</span></span>
        <h1 class="text-[#8f8f8f] text-pretty text-2xl font-extrabold">FULL STACK DEVELOPER -  <span class="text-[#26a269]">FREELANCER,</span></h1>
        <p class="text-[#605f5f] my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto rem non distinctio culpa sit, ab officiis? Eaque quidem nesciunt non, aperiam voluptatem dolore sequi, in delectus quasi explicabo veniam?</p>
        <a href="#" target="_blank" rel="noopener noreferrer" class=" py-4 px-20 text-white text-lg font-medium bg-primary rounded-full "><button type="button">Learn more</button></a>
    </div>
    <img src="../../../assets/image.png" class="" alt="photo of John Chimezie | full stack Developer" sizes="200 400" srcset="">

</section>
