
<nav aria-label="Breadcrumb" class="mt-16 lg:mt-0 w-[100vw] lg:w-auto lg:pt-2">
    <div class="lg:pt-0 pr-4 text-right border-inherit bg-unigue lg:hidden border-unigue">
    <button (click)="onClick($event)" type="menu" name="close menu" class="hover:text-gray-600 pb-0 text-gray-200 text-2xl ml-2">🗙</button> 
</div>
    <ul class="sm:flex sm:justify-between bg-unigue lg:bg-inherit p-4 lg:p-0">
        <li 
        class="
        font-sans
        text-primaryText
        lg:hover:text-base
        font-semibold
        hover:text-gray-400
        hover:text-3xl
        lg:hover:border-b
        sm:hover:border-b-gray-300
        px-6
        py-1
        "
         *ngFor="let anchorComponentData of anchorTextComponents">
            <app-anchor-text 
            [anchorText]="anchorComponentData.anchorText"
            [anchorLink]="anchorComponentData.anchorLink"
            [anchorTitle]="anchorComponentData.anchorTitle"
            />
        </li>
    </ul>
</nav>






   
    