
<nav aria-label="Breadcrumb" class="p-4 pt-16 pb-10 lg:pb-0 lg:pt-2">
    <div class="lg:bg-primary lg:pt-0 text-right pt-4 bg-unigue lg:hidden">
    <button (click)="onClick($event)" type="menu" name="close menu" class="hover:text-gray-600 text-gray-200 text-2xl ml-2">🗙</button> 
</div>
    <ul class="sm:flex sm:justify-between bg-unigue lg:bg-primary">

        <li 
        class="
        font-sans
        text-main-text
        lg:hover:text-base
        font-semibold
        hover:text-gray-400
        hover:text-3xl
        lg:hover:border-b-2
        sm:hover:border-b-gray-300
        px-6
        py-1
        "
         *ngFor="let anchorComponentData of anchorTextComponents">
            <app-anchor-text 
            [anchorText]="anchorComponentData.anchorText"
            [anchorLink]="anchorComponentData.anchorLink"
            [anchorTitle]="anchorComponentData.anchorTitle"
            />
        </li>
    </ul>
</nav>






   
    